@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700");
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: current style applies
1800px and beyond: Big desktop 
*/
/* $breakpoints arguments choices:
- phone
- tab-port
- tab-land
_ big-desk */
.u-margin-top-minor {
  margin-top: .5rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-bottom-minor {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-padding-top-big {
  padding-top: 10rem; }

.u-padding-top-medium {
  padding-top: 8rem; }

.u-padding-top-small {
  padding-top: 6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  position: relative; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 33.33%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777; }

.primary-heading {
  text-transform: uppercase;
  letter-spacing: .15rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #4FC8E9; }
  .primary-heading-red {
    color: #EE554C; }
  @media (max-width: 37.5em) {
    .primary-heading {
      font-size: 5rem; } }

.paragraph {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  line-height: 3rem;
  letter-spacing: .1rem; }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 2.1rem; } }

.secondary-heading {
  color: #1a1a1a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 4rem;
  letter-spacing: .1rem; }
  .secondary-heading-blue {
    color: #4FC8E9; }
  .secondary-heading-red {
    color: #EE554C; }
  .secondary-heading::after {
    content: "";
    display: block;
    background-color: #1a1a1a;
    height: .1rem;
    width: 5rem;
    margin: 2rem auto;
    border-radius: .1rem; }
  @media (max-width: 56.25em) {
    .secondary-heading {
      font-size: 2.5rem;
      letter-spacing: .1rem; } }

.secondary-heading-1 {
  color: #1a1a1a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 4rem;
  letter-spacing: .1rem; }
  .secondary-heading-1-blue {
    color: #4FC8E9; }
  .secondary-heading-1-red {
    color: #EE554C; }
  @media (max-width: 56.25em) {
    .secondary-heading-1 {
      font-size: 2.5rem;
      letter-spacing: .1rem; } }

.tertiary-heading {
  color: #1a1a1a;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: .1rem; }

.tertiary-heading-1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: .1rem; }

.sub-heading {
  text-align: center;
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 300; }

.heading-h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: .1rem; }
  .heading-h4::after {
    content: "";
    display: block;
    background-color: #1a1a1a;
    height: .1rem;
    width: 5rem;
    margin: 2rem auto;
    border-radius: .1rem; }

.heading-h4-1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #4FC8E9;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .1rem; }

.heading-h5 {
  color: #1a1a1a;
  font-size: 1.4rem;
  font-weight: 400; }

.heading-h5-1 {
  color: #1a1a1a;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300; }

.heading-be-the-hero {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
  color: #1a1a1a; }

.be-the-hero-bullets {
  color: #777;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300; }

.nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 6.4rem;
  z-index: 1000;
  box-shadow: 0.5rem 0 2rem 0.3rem rgba(0, 0, 0, 0.2); }
  .nav-container__box {
    position: relative;
    height: inherit; }
    .nav-container__box-link {
      display: inline-block;
      height: inherit;
      padding: 1rem; }
    .nav-container__box-link > img {
      height: 90%; }
    @media (min-width: 112.5em) {
      .nav-container__box {
        max-width: 180rem;
        margin: 0 auto; } }
  .nav-container__label {
    display: none;
    position: absolute;
    top: 1.2rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .nav-container__label {
        display: block;
        cursor: pointer; } }
  .nav-container__input {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none; }
  .nav-container__list {
    list-style-type: none;
    float: right;
    font-size: 1.2rem; }
    @media (max-width: 56.25em) {
      .nav-container__list {
        font-size: 1.5rem;
        font-weight: 700; } }
    .nav-container__list-link {
      display: block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .2s; }
      .nav-container__list-link:hover {
        color: #4FC8E9; }
        @media (max-width: 56.25em) {
          .nav-container__list-link:hover {
            color: #1a1a1a; } }
    @media (max-width: 56.25em) {
      .nav-container__list {
        float: none;
        position: absolute;
        top: 6.4rem;
        right: -25rem;
        width: 25rem;
        height: 100vh;
        background-color: rgba(79, 200, 233, 0.9);
        transition: right 0.4s cubic-bezier(0.72, 0, 0.21, 1); } }
  .nav-container__list > li {
    float: left; }
    .nav-container__list > li:not(:last-child) {
      padding: 2rem; }
    .nav-container__list > li:last-child {
      margin-right: 2rem;
      margin-left: 2rem; }
      @media (max-width: 56.25em) {
        .nav-container__list > li:last-child {
          margin: 0;
          display: none; } }
    @media (max-width: 56.25em) {
      .nav-container__list > li {
        float: none;
        padding: 2.4rem 2rem 2rem 2rem; } }
  .nav-container .try-now {
    display: block; }
  .nav-container .nav-icon {
    font-size: 3rem;
    color: #fff;
    transition: color .2s; }
    .nav-container .nav-icon:hover {
      color: #EE554C; }
  @media (max-width: 56.25em) {
    .nav-container #toggle:checked + .nav-container__list {
      position: absolute;
      top: 6.4rem;
      right: 0; } }

.header {
  height: 100vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 10%; }
    .header__text-box-content {
      padding: 1rem; }
    @media (max-width: 37.5em) {
      .header__text-box {
        top: 60%; } }
  .header a {
    display: inline-block; }
  @media (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg);
      background-size: cover;
      background-position: center; } }

.row {
  max-width: 95.6rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 2rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 98rem; } }
  @media (max-width: 48em) {
    .row {
      max-width: 90rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 90rem; } }
  @media (max-width: 26.5625em) {
    .row {
      max-width: 64rem; } }
  @media (max-width: 23.4375em) {
    .row {
      max-width: 58rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: calc((100% - 2rem) / 2); } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: calc((100% - 2 * 2rem) / 3); } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: calc((100% - 3 * 2rem) / 4); } }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

footer {
  padding: 6rem;
  text-align: center;
  font-size: 2rem;
  color: #1a1a1a;
  line-height: 3rem;
  font-weight: 300;
  text-transform: uppercase; }
  footer a {
    text-decoration: none;
    color: #4FC8E9; }
  @media (max-width: 37.5em) {
    footer {
      padding: 6rem 0; } }

@media (max-width: 37.5em) {
  .center-text {
    margin: 0 auto;
    display: inline-block; } }

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }
  .btn-nav {
    background-color: #EE554C;
    padding: 1.8rem 3rem;
    border-radius: .3rem;
    transition: background-color .2s; }
    .btn-nav:hover {
      background-color: #ec3f35; }
  .btn-large {
    background-color: #4FC8E9;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    border-radius: .3rem;
    transition: background-color .2s; }
    .btn-large-red {
      background-color: #EE554C;
      height: inherit;
      line-height: inherit;
      padding: 0 3rem;
      border-radius: inherit; }
    .btn-large:hover {
      background-color: #1aaad1; }

.bg-video {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -5; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media (max-width: 37.5em) {
    .bg-video {
      display: none; } }

.experience {
  background-color: #f5f5f5; }
  .experience__content-box {
    padding-top: 7rem; }
  .experience__img-box {
    float: left;
    margin-right: 2rem; }
    .experience__img-box-small-img {
      height: 5rem;
      width: 5rem; }
    .experience__img-box::after {
      content: "";
      display: table;
      clear: both; }
  .experience__img-box-text {
    margin-top: .45rem; }
  .experience__after-img {
    margin-bottom: 8rem; }

.exp-img {
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#ec3f35, #ed4c43), url(../img/VR-photo-5-small.jpg);
  background-blend-mode: multiply;
  border-radius: .3rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }
  .exp-img__heading {
    color: #fff;
    font-size: 2.5rem;
    background-color: #4FC8E9;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .3rem 0 2rem 0;
    letter-spacing: .1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }

.exp-img-2 {
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#ec3f35, #ed4c43), url(../img/gamification.jpg);
  background-blend-mode: multiply;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  position: relative; }
  .exp-img-2__heading-2 {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 2.5rem;
    background-color: #4FC8E9;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0 .3rem 0 2rem;
    letter-spacing: .1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }

.be-the-hero__img {
  width: 100%;
  margin-bottom: 8rem; }
  .be-the-hero__img-tag {
    width: inherit;
    border-radius: .3rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }

.experience-part-2 {
  background-color: #fff; }

.experience-part-3 {
  background-color: #f5f5f5; }

.why-interactive {
  height: 40rem; }
  .why-interactive__360deg {
    height: 100%;
    background-blend-mode: color;
    background-image: linear-gradient(#EE554C, #EE554C), url(../img/360bg.jpg);
    background-size: cover;
    background-position: center; }
  .why-interactive__content {
    color: #fff;
    text-align: center;
    font-size: 1.6rem; }
    .why-interactive__content-icon {
      font-size: 6.5rem; }

.services {
  color: #1a1a1a;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300; }
  .services__icons {
    background-color: #EE554C;
    color: #fff;
    font-size: 5rem;
    padding: .5rem 2rem;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }

.platform {
  text-align: center;
  background-color: #f5f5f5; }
  .platform__content {
    color: #1a1a1a;
    font-size: 1.5em;
    font-weight: 300; }
    .platform__content-icons {
      display: inline-block;
      font-size: 3rem;
      color: #4FC8E9;
      padding: .2rem 1rem;
      margin-bottom: 1rem;
      border: 0.1rem solid #000; }
  .platform__anchor {
    padding-bottom: 8rem;
    margin-top: -2.5rem; }
  .platform a {
    display: inline-block; }

.features {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #1a1a1a; }
  .features__img-box {
    margin-top: .5rem;
    width: 100%; }
    .features__img-box-img {
      width: inherit;
      border-radius: .3rem; }
  .features__extra {
    font-size: 2rem;
    text-transform: none; }
    .features__extra-text {
      font-size: 1.4rem; }

.measure {
  background-color: #EE554C;
  padding: 6rem 0;
  font-size: 1.4rem;
  color: #fff; }
  .measure__management {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 2rem; }
  .measure__img-box {
    width: 100%; }
    .measure__img-box-img {
      width: 100%;
      border-radius: .3rem; }

.contacted {
  text-align: center;
  font-size: 2rem;
  color: #777; }
  .contacted a {
    display: inline-block; }

.demo {
  padding-bottom: 5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: #4FC8E9; }
  .demo__frame {
    width: 100%;
    height: 20rem;
    border: none;
    margin-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.2); }

.empty {
  margin-top: 10rem;
  background-color: #777;
  height: 10rem; }

.contact {
  padding-top: 10rem;
  background-image: linear-gradient(rgba(41, 41, 41, 0.4), rgba(41, 41, 41, 0.4)), url(../img/abstract.jpg);
  height: 95rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300; }
  .contact__text {
    font-size: 2.5rem;
    position: relative;
    line-height: 6rem;
    letter-spacing: .1rem; }
    .contact__text::after {
      content: "";
      display: block;
      background-color: #fff;
      height: .1rem;
      width: 5rem;
      position: absolute;
      top: 110%;
      left: 47%; }
  .contact__links {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem 0;
    margin-bottom: 3rem; }
    .contact__links-list {
      list-style-type: none; }
      .contact__links-list li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .1rem;
        transition: color 0.2s; }
        .contact__links-list li:not(:last-child) {
          margin-right: 4rem; }
        .contact__links-list li:hover {
          color: #4FC8E9; }
  .contact__map-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4rem 1rem;
    overflow: hidden; }
    .contact__map-box-text {
      text-align: left;
      padding-left: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .1rem; }
  .contact__map {
    margin: 0 auto;
    height: 35.7rem;
    width: 40rem;
    margin-bottom: 2rem; }
    @media (max-width: 75em) {
      .contact__map {
        height: 37.5rem; } }
    @media (max-width: 56.25em) {
      .contact__map {
        height: 33.4rem; } }
    @media (max-width: 37.5em) {
      .contact__map {
        height: 32rem;
        width: 33em; } }
    @media (max-width: 26.5625em) {
      .contact__map {
        height: 32rem;
        width: 28rem; } }
    @media (max-width: 23.4375em) {
      .contact__map {
        height: 29.5rem;
        width: 26rem; } }
  .contact__details {
    font-weight: 400;
    text-align: left;
    line-height: 2.5rem;
    padding-left: 1.5rem;
    letter-spacing: .1rem; }
    @media (max-width: 37.5em) {
      .contact__details {
        letter-spacing: 0; } }
  .contact__form-label {
    display: block;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: .1rem; }
  .contact__form-input {
    display: inline-block;
    width: 95%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    resize: none;
    outline: none;
    background-color: rgba(26, 26, 26, 0.7);
    border: none;
    color: #fff; }
  .contact__form a {
    display: inline-block;
    margin-right: 73%; }
  @media (max-width: 37.5em) {
    .contact__form textarea {
      height: 17.5rem; } }
  @media (max-width: 26.5625em) {
    .contact__form textarea {
      height: 17.5rem; } }
  @media (max-width: 23.4375em) {
    .contact__form textarea {
      height: 17.5rem; } }
